.container{
    width: 50%;
    color: #071952;
    background-color: #088395;
    border-radius: 5px;
    padding: 40px;
}

.tittle{
    text-align: center;
    margin-bottom: 20px;
}

.password-wrapper{
    width:100%;
    height:50px;
}

.password-area{
    display: flex;      
    justify-content: flex-start;
    align-items: center;
    height: 10%;
}
.password-area .password{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    position: relative;
}
.password-area .password input{
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: #FFE9D0;
    color: black;
    line-height: 45px;
    border-radius: 5px;
    border: none;
    outline: none;  
}
.password-area .password .copyicon{
    position: absolute;
    right: 0;
    top: 50%;
    width: 60px;
    height: 100%;
    padding: 12px;
    transform: translate(0,-50%);
    background: #E0A75E;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.setting{
    margin: 20px 10px;
}

.custom{
    margin: 20px 10px;
    display: flex;
    justify-content:flex-start ;
}

.custom .checkbox{
    display: flex;
}

.left,.right{
    display: flex;
    width: fit-content;
}

.custom.right{
    margin-left: 30px;
}

.custom .checkboxes .checkbox-field{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.custom .checkboxes .checkbox-field input{
    width: 20px;
    height: 20px;    
    margin-right: 10px;
}

.custom .checkboxes .checkbox-field input:checked{
    accent-color: #B1AFFF;
}

.custom .checkboxes .left .checkbox-field label{
    padding-right: 30px;
    line-height: 20px;
}
.custom .checkboxes .right .checkbox-field label{
    padding-right: 40px;
}

.slider{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height:50px;
}

.slider .rangeValue{
    width: 80px;
    height: 100%;
    font-size: 22px;
    border-radius: 5px;
    background-color: #FFE9D0;
    color: black;
    line-height: 50px;
    text-align: center;
}

.slider .range{
    width: calc(100%-80px);
    height: 100%;
    margin-left: 30px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    outline: none;
    padding: 0 20px ;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


.slide .range input{
    width: 100%;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button{
    margin-left:15px;
    padding:0 25px;
    height: 50px;
    border-radius: 50px;
    font-size: 18px;
    color: black;
    border: none;
    outline: none;
}